
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

body{
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  width: auto;
}

a{
  text-decoration: none;
}

h2,h3{
  font-weight: 100;
  margin: 0;
  padding: 0;
}
